<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>jLYH1Ay3IWIBvaFwK7mQKw6Y6THTqMr8</string>
	<key>Base API URL</key>
	<string>https://api.giphy.com/v1</string>
</dict>
</plist>
